# --- Python ---
__pycache__/
*.py[cod]
.Python
env/
venv/
.env

# --- Jupyter ---
.ipynb_checkpoints/

# --- Dataset (ignore ONLY the large dataset) ---
*.csv

# --- OS / IDE ---
.vscode/
.idea/
.DS_Store
